/* RELATIVE */
/* #box{
    width:200px;
    height: 200px;
    background-color: skyblue;
    position: relative;
    top:100px ;
    left: 100px;
} */
/* FIXED */
 /* #box {
     width: 200px;
     height: 200px;
     background-color: skyblue;
     position: fixed;
     right: 50px;
     bottom: 50px; */
/* ABSOLUTE */
/* #box1{
    width: 200px;
    height: 200px;
    background-color: skyblue;
    position: relative;
    top:100px;
    left: 100px;
     }
#box2{
    width: 100px;
    height: 100px;
    background-color: red;
    position: absolute;
    top: 50px;
    left: 50px;
} */
/* STICKY == is similar to fixed*/
/* #box1 {
    width: 200px;
    height: 200px;
    background-color: skyblue;
    position: sticky;
    top: 50px;
    left: 0px;
}
#box2 {
    width: 100px;
    height: 100px;
    background-color: red;
    position: absolute;
    top: 50px;
    left: 50px;
} */
/* STATIC */
#box1 {
    width: 200px;
    height: 200px;
    background-color: skyblue;
    position: sticky;
    top: 50px;
    left: 0px;
}

#box2 {
    width: 100px;
    height: 100px;
    background-color: red;
    position: static;
    top: 50px;
    left: 50px;
}