div{
    border: 2px solid;
    height: 75px;
    /* overflow:visible; */
/* overflow: hidden; */
/* overflow: clip; */
 /* clip is very similar to hidden */
 /* overflow: clip-margin: 13px ; */
 /* overflow: scroll; */
 overflow: auto;
}